%mycont {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

%myflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
