.s-1 {
    background-color: lightcoral;
    .container {
        @extend %mycont;
        @extend %myflex;
        @media (max-width: 1200px) {
            width: 90%;
            justify-content: center;
        }
        .card {
            width: 250px;
            height: 350px;
            margin: 20px;
            background-color: yellow;
            transition: 0.4s;
            &:hover {
                background-color: rgb(149, 4, 4);
                transform: scale(1.05);
                cursor: pointer;
            }
            @media (max-width: 645px) {
                width: 50%;
            }
            @media (max-width: 450px) {
                width: 80%;
            }
        }
    }
}
